<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header ::header"></div>
    <title>Instagram</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}"/>
    <!-- favicon -->
    <link rel="icon" href="img/favicon.png">
    <link rel="instagram-icon" href="img/favicon.png">
</head>
<body>
<div class="contents">
    <div class="img">
        <div class="title_image">
            <div th:if="${loginMember.profile_photo == null}">
                <img src="/images/noimage.png" >
            </div>
            <div th:unless="${loginMember.profile_photo == null}">
                <img th:src="@{/images/profile/{photo}(photo=${loginMember.getProfile_photo})}">
            </div>
        </div>
    </div>
    <div>
        <form action="/member/update/profile_photo" th:field="form"
              method="post" enctype="multipart/form-data" autocomplete="off">
            <label for="ex_file">프로필 사진 바꾸기</label>
            <input type="file" id="ex_file" name="filename" required />
            <button type="submit" class="btn btn-default">업로드</button>
        </form>
    </div>
</div>
</body>
</html>