<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header ::header"></div>
  <title>Instagram</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}"/>
  <!-- favicon -->
  <link rel="icon" href="img/favicon.png">
  <link rel="instagram-icon" href="img/favicon.png">
</head>
<body>
<!-- navigation -->
<nav>
  <div class="nav-container">
    <div class="nav-1">
      <img class="logo_instagram_txt" src="" alt="">
      <a th:href="@{/petmily/home}">petmily</a>
    </div>
    <input id="searchInput" type="search" class="input-search" placeholder="검색">
    <div class="nav-2">
      <img src="" alt="홈">
      <img src="" alt="마이페이지">
    </div>
  </div>
</nav>
<!-- main -->
<main>
  <div class="feeds">
    <!-- article -->
    <article th:each="p : ${posting}">
      <header>
        <div class="profile-of-article">
          <a th:href="@{/petmily/profile/${p.member.id}}">
          <img class="img-profile pic" th:src="@{/images/profile/{photo}(photo=${member.getProfile_photo})}" alt="">
          </a>
          <span class="userID main-id point-span" th:text="|${p.member.userId}|">아이디</span>
        </div>
        <img class="icon-react icon-more" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/more.png" alt="more">
      </header>
      <div class="main-image" th:each="img : ${img}">
        <ul th:if="${img.postId == p.id}">
        <img th:src="@{/images/{userId}(userId=${p.member.userId})/{filename}(filename=${img.filename})" class="mainPic">
        </ul>
      </div>
      <div class="icons-react">
        <div class="icons-left">
          <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png" alt="하트">
          <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/comment.png" alt="말풍선">
        </div>
      </div>
      <!-- article text data -->
      <!--<div class="reaction">
        <div class="liked-people">
          <img class="pic" src="">
          <p><span class="point-span" th:text="|${member.nickname}|">아이디</span>님 <span class="point-span">외 nn명</span>이 좋아합니다</p>
        </div>
        <div class="description">
          <p><span class="point-span userID">아이디</span><span class="at-tag">내용</span></p>
        </div>
        <div class="comment-section">
          <ul class="comments">
            <li>
              <span><span class="point-span userID">댓쓴이1</span>댓글</span>
              &lt;!&ndash;<img class="comment-heart" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png" alt="하트">&ndash;&gt;
            </li>
            &lt;!&ndash; input 값 여기에 추가 &ndash;&gt;
          </ul>
          <div class="time-log">
            <span></span>
          </div>
        </div>
      </div>
      <div class="hl"></div>
      <div class="comment">
        <input id="input-comment" class="input-comment" type="text" placeholder="댓글 달기..." >
        <button type="submit" class="submit-comment" disabled>게시</button>
      </div>-->
    </article>


  </div>
  <!-- main-right -->
  <div class="main-right">
    <div class="myProfile">
      <a th:href="@{/petmily/profile}">
      <img class="pic" th:src="@{/images/profile/{photo}(photo=${member.getProfile_photo})}" alt="">
      </a>
      <form th:action="@{/member/logout}" method="post">
        <button type="submit" th:onclick="|location.href='@{member/login}'|">로그아웃</button>
      </form>
      <div>
        <a class="userID point-span" th:href="@{/petmily/profile}" th:text="|${member.nickname}|">사용자아이디</a>
        <span class="sub-span" th:text="|${member.name}|">이름</span>
      </div>
    </div>
    <!-- recommendation section -->
    <div class="section-recommend">
      <div class="menu-title">
        <span class="sub-title">회원님을 위한 추천</span>
        <span class="find-more">모두 보기</span>
      </div>
      <ul class="recommend-list">
        <li>
          <div class="recommend-friend-profile">
            <img class="img-profile" src="" alt="아이디1님의 프로필 사진">
            <div class="profile-text">
              <span class="userID point-span">아이디1</span>
            </div>
          </div>
          <span class="btn-follow">팔로우</span>
        </li>
        <li>
          <div class="recommend-friend-profile">
            <img class="img-profile" src="" alt="아이디3님의 프로필 사진">
            <div class="profile-text">
              <span class="userID point-span">아이디3</span>
            </div>
          </div>
          <span class="btn-follow">팔로우</span>
        </li>
        <li>
          <div class="recommend-friend-profile">
            <img class="img-profile" src="" alt="아이디5님의 프로필 사진">
            <div class="profile-text">
              <span class="userID point-span">아이디5</span>
            </div>
          </div>
          <span class="btn-follow">팔로우</span>
        </li>
      </ul>
    </div>

    <footer>
      <div class ="path-find">
        ddd
      </div>
    </footer>
  </div>
</main>
<!--
<script>
  const commentInput = document.getElementById('input-comment');
  const commentBtn = document.getElementsByClassName('submit-comment')[0];
  const commentList = document.getElementsByClassName('comments')[0];

  commentInput.addEventListener('keypress', function(e){
    if (commentInput.value) {
      if (e.which === 13) {
        var newComment = document.createElement('li')
        newComment.innerHTML = `<span><span class="point-span userID">thisisyourhyung</span>` + this.value + `</span><img class="comment-heart" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png" alt="하트">`;
        commentList.appendChild(newComment);
        this.value = "";
      }
    }
  })

  commentBtn.addEventListener('click', function(){
    if (commentInput.value) {
      var newComment = document.createElement('li')
      newComment.innerHTML = `<span><span class="point-span userID">thisisyourhyung</span>` + commentInput.value + `</span><img class="comment-heart" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png" alt="하트">`;
      commentList.appendChild(newComment);
      commentInput.value = "";
    }
  })

  commentInput.addEventListener('keyup', function(event) {
    if (commentInput.value) {
      commentBtn.disabled = false;
    }
    else {
      commentBtn.disabled = true;
    }
  })
</script>
-->
</body>
</html>