<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header ::header"></div>
  <title>simpleMap</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}"/>
  <!-- favicon -->
  <link rel="icon" href="img/favicon.png">
  <link rel="instagram-icon" href="img/favicon.png">
  <style>
    main {
      width: 960px;
      margin: 0 auto;
      padding-top: 94px;
      padding-bottom: 40px;
    }

    .img-profile {
      width: 200px;
      height: 200px;
      border: 1px solid #fafafa;
      border-radius: 100%;
      display: block;
      margin: 0 auto;
    }

    .pic {
      border-radius: 100%;
    }

  </style>
<body>
<nav>
  <div class="nav-container">
    <div class="nav-1">
      <img class="logo_instagram_txt" src="" alt="">
      <a th:href="@{/petmily/home}">petmily</a>
    </div>
    <input id="searchInput" type="search" class="input-search" placeholder="검색">
    <div class="nav-2">
      <img src="" alt="홈">
      <img src="" alt="마이페이지">
    </div>
  </div>
</nav>
<main>
  <div class="info">
    <div class="user-img-profile">
      <div class="img">
        <div class="title_image">
          <div th:if="${loginMember.profile_photo == null}">
            <img class="img-profile pic" th:src="@{/images/noimage.png}" >
          </div>
          <div th:unless="${loginMember.profile_photo == null}">
            <img class="img-profile pic" th:src="@{/images/profile/{photo}(photo=${loginMember.getProfile_photo})}">
          </div>
        </div>
      </div>
    </div>
    <div class="user-info">
      <a th:href="@{/petmily/profile/${p.member.id}}">
        <a class="userID point-span" th:href="@{/petmily/profile}" th:text="|${member.nickname}|">사용자아이디</a>
    </div>
  </div>
  <div class="user-feed"></div>
</main>
</body>
</html>